<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>National Historic Sites <img src="/images/image.png" alt="Canadian Flag" class="w-16 h-10">
    </title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body class="bg-base-200">
    <%- include('partials/navbar', { page: '/about' }) %>

    <section class="container mx-auto p-8">
        <div class="hero">
            <h1 class="text-4xl font-bold mb-4">About Me</h1>
        </div>
        <p>I am passionate about historic places and web development.</p>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img src="/image/download.jpg" alt="Profile" width="230" height="210">
            <p class="text-lg">Hello! My name is Akashdeep Singh. I love to travel and know more about the history and programming! I am currently studying at 
                <a class= "https://www.senecapolytechnic.ca/home.html">Seneca Polytechnic</a>
               and I am enrolled in Computer Programming. I enjoy exploring new opportunities to learn and grow.I'm excited to connect and share ideas with others!
                 </p>
        </div>
    </section>
</body>
</html>
