<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>National Historic Sites <img src="/images/image.png" alt="Canadian Flag" class="w-16 h-10">
    </title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body class="bg-base-200">
    <%- include('partials/navbar', { page: '/home' }) %>


    <section class="container mx-auto p-8">
        <div
  class="hero min-h-[300px]"
  style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRHczNWje2zCHYboBll1aIUiASV3dsh8gSsQ&s);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">WELCOME!</h1>
      <p class="mb-5">
        Browse National Historic Sites located across ten provinces and three territories of Canada.
      </p>
      <a href="/sites" class="btn btn-primary">Get Started</a>
      
    </div>
  </div>
</div>

 
<div class="flex gap-4 overflow-x-auto flex-nowrap p-4">
    <div class="card card-compact bg-base-100 w-auto max-w-sm shadow-xl rounded-lg">
        <figure>
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/5a/Hoodless_Homestead_NHS.jpg" alt="Site 1" class="rounded-t-lg">
        </figure>
        <h2 class="text-xl font-bold">Adelaide Hunter Hoodless Homestead</h2>
        <p>The childhood home of activist and organizer Adelaide Hunter Hoodless, educational reformer and co-founder of the Women's Institute, the National Council of Women of Canada and the Victorian Order of Nurses.</p>
        <p><strong>Location:</strong> Ontario</p>
        <p><strong>Date:</strong> 1867</p>
        <a href="/sites/ON001" class="btn btn-secondary">Learn More</a>
    </div>

    <div class="card card-compact bg-base-100 w-auto max-w-sm shadow-xl rounded-lg">
        <figure>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Fort_Fork_National_historic_Site_of_Canada.JPG/320px-Fort_Fork_National_historic_Site_of_Canada.JPG" alt="Site 2" class="rounded-t-lg">
        </figure>
        <h2 class="text-xl font-bold">Fort Fork</h2>
        <p>Starting point of Alexander MacKenzie's route to Pacific, 1793; connected with the exploration of the country, was replaced by Fort Dunvegan, another National Historic Site.</p>
        <p><strong>Location:</strong> Alberta</p>
        <p><strong>Date:</strong> 1900</p>
        <a href="/sites/AB002" class="btn btn-secondary">Learn More</a>
    </div>

    <div class="card card-compact bg-base-100 w-auto max-w-sm shadow-xl rounded-lg">
        <figure>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Barkerville_BC_-_Church.jpg/360px-Barkerville_BC_-_Church.jpg" alt="Site 3" class="rounded-t-lg">
        </figure>
        <h2 class="text-xl font-bold mt-2">Barkerville</h2>
        <p>The epicentre of the Cariboo Gold Rush, the catalyst for the economic and political development of British Columbia; the town was eventually abandoned and became a ghost town, but restoration commenced in 1958</p>
        <p><strong>Location:</strong> British Columbia</p>
        <p><strong>Date:</strong> 1925</p>
        <a href="/sites/BC003" class="btn btn-secondary">Learn More</a>
    </div>
</div>
    </section>
</body>
</html>
